@{
  Layout = "_Layout";
}

@model Patisserie.Models.Treat

<h3>Are you sure you want to permanently delete @Model.Type from your treats?</h3>
<br/>
@using(Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger">
}
<br/>
<h3>@Html.ActionLink($"Return to {Model.Type}'s info page", "Details", new { id = Model.TreatId})</h3>