@{
  Layout = "_Layout";
}

@model Patisserie.Models.Flavor

<h2>Update Flavor Info:</h2>
<div class="container">
  @using(Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)

    <div class="form-group">
      @Html.LabelFor(model => model.Type)
      @Html.TextBoxFor(model => model.Type)
    </div>
  <input type="submit" value="Save" class="btn btn-primary">
  }
</div>
<br/>
<h3>@Html.ActionLink($"Return to {Model.Type}'s info page", "Details", new { id = Model.FlavorId})</h3>